.button {
  background-color: #007BA7;
  border: 1px solid #007BA7;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  height: 40px;
  line-height: 20px;
  min-width: 40px;
  padding: 16px 20px;
  width: fit-content;

  &:focus {
    outline-width: 2px;
    outline-offset: 2px;
    outline-style: solid;
    outline-color: #00A1C9;
    background-color: #006A8C;
  }

  &:hover {
    background-color: #006A8C;
  }

  &:active {
    background-color: #005B77;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}